.boloInfoContainer {
    max-width: 500px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boloInfoContainer h1 {
    text-align: center;
}

.boloInfoContainer img {
    width: 60%;
    margin: auto;
}

.boloInfoContainer p {
    text-align: center;
    font-size: 18px;
}

.btnVoltar {
    display: flex;
    margin: 15px 0px 0px 15px;
}